<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
</head>
<body>
    <header>
        <h1>History of Python</h1>
    </header>
    <main>
        <div>
            <p>Python was invented by <b>Guido van Rossum</b> and first released in <b>1991</b>. He designed Python to be simple and easy to read, making programming more accessible to everyone. Because of this clear and friendly design, Python has grown into one of the most popular programming languages in the world today. For example, many websites like Instagram and tools like Netflix use Python behind the scenes!</p>
        </div>
        <div>
            <h3>
                Process of Download Python in system
            </h3>
        <hr>
            <p>
                1. <b>Go to the official website:</b> Open your web browser and visit <a class = "python" href ="https://www.python.org/"target = "_blank">Python.org</a>
                <br>
                2.<b>Find the download page:</b> Click on the “Downloads” tab at the top.
                <br>
                3.<b>Choose your system:</b> The website usually detects your operating system <u>(Windows, macOS, or Linux)</u> and shows the recommended version.
                <br>
                4. <b>Download the installer:</b> Click the “Download Python [version number]” button.
                <br>
                5.<b>Run the installer:</b> Open the downloaded file and follow the setup instructions. Make sure to check the box that says “Add Python to PATH” before clicking “Install.”
                <br>
                6. <b>Finish installation:</b> Wait for the 
                installation to complete, then click “Close.”
                <br>
            </p>
        </div>
        <div>
            <span class = "python-img">
                <a href ="https://www.python.org/downloads/" target = "_blank"><img src ="/static/python.png" alt = "Python" height="50"/></a>
            </span>
            <span class = "vscode-img">
                <a href ="https://code.visualstudio.com/download" target = "_blank"><img src ="/static/visual.png" alt = "VSCode" height="50"/></a>
            </span>
        </div>
        <div>
            
        </div>
    </main>
    
</body>
</html>